.qlik-printable {
	display: none;
}
.qlik-toggled {
	display: inline !important;
}

#container-welcome, #container-data {
	width:21cm;
	/*height:29.7cm;*/
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.table {
	width: 80%;
	max-width: 80%;
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

table { 
color: #333; /* Lighten up font color */
width: 640px; 
border-collapse: 
collapse; border-spacing: 0; 
}

td, thead { border: 1px solid #CCC; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; } /* Make cells a bit taller */

thead {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
font-size: smaller;
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: left; /* Center our text */
font-size: smaller;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4, h5, h6          { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: bolder }
